.player-card { 
 width: 16rem; 

 border: 1px solid #ccc;
 margin: 100px auto 0; 
 background-color: #fff; 
 border-radius: 0.5rem; 
 padding: 1rem; 
 } 

img { 
 width: 100%;
 aspect-ratio: 4 / 3; 
 height: auto; 
 border-radius: 0.5rem; 
 } 

/***** Track Styles *****/

input[type='range'] {
margin: 16px 0;
  width: 100%;
  height: 2px;
  accent-color: #333;
}

input[type='range']:focus {
  outline: none;
}

 /******************/
.track-duration { 
 display: flex; 
 align-items: center; 
 justify-content: right;
 gap: 16px;
 } 

 .track-duration>p:first-child{
  position: relative;

 }
 .track-duration>p:first-child::after{
  border-right: 1px solid #aaa;
  position: absolute;
  top: 6px; right: -9px;
  display: block;
  height: 8px;
  width: 1px;
  content: "";
 }

.track-duration>p { 
 font-size: 13px; 
 color: #111; 
 margin: 0; 
 } 

button { 
 cursor: pointer; 
 background: none;
 border: none;
 outline:none;
 } 

 h3{
  text-align: center;
  margin: 10px 0 0;
  font-size: 16px;
 }

 .control{
  display: flex;
  justify-content: space-between;
  height: 30px;
 }

 .btnArea{
  display: flex;
  gap: 12px;
 }